/lexer/lexer.cpp
/lexer/lexer

/parser/lexer.cpp
/parser/lexer.o
/parser/parser.cpp
/parser/parser.hpp
/parser/parser.o
/parser/parser.output
/parser/grace

/interpreter/lexer.cpp
/interpreter/lexer.o
/interpreter/parser.cpp
/interpreter/parser.hpp
/interpreter/parser.o
/interpreter/parser.output
/interpreter/grace
/interpreter/testing.sh

/semantics/lexer.cpp
/semantics/lexer.o
/semantics/parser.cpp
/semantics/parser.hpp
/semantics/parser.o
/semantics/parser.output
/semantics/grace
/semantics/a.out
/semantics/lib.a
/semantics/lib.o
/semantics/temp.ll
/semantics/temp.s

/.vscode