/lexer/lexer.cpp
/lexer/lexer

/parser/lexer.cpp
/parser/lexer.o
/parser/parser.cpp
/parser/parser.hpp
/parser/parser.o
/parser/parser.output
/parser/grace

/interpreter/lexer.cpp
/interpreter/lexer.o
/interpreter/parser.cpp
/interpreter/parser.hpp
/interpreter/parser.o
/interpreter/parser.output
/interpreter/grace
/interpreter/testing.sh

/llvm_v4/lexer.cpp
/llvm_v4/lexer.o
/llvm_v4/parser.cpp
/llvm_v4/parser.hpp
/llvm_v4/parser.o
/llvm_v4/parser.output
/llvm_v4/graceCompiler
/llvm_v4/a.out
/llvm_v4/lib.a
/llvm_v4/lib.o
/llvm_v4/temp.asm
/llvm_v4/temp.imm

/Grace_demo/lexer.cpp
/Grace_demo/lexer.o
/Grace_demo/parser.cpp
/Grace_demo/parser.hpp
/Grace_demo/parser.o
/Grace_demo/parser.output
/Grace_demo/graceCompiler
/Grace_demo/a.out
/Grace_demo/lib.a
/Grace_demo/lib.o
/Grace_demo/temp.asm
/Grace_demo/temp.imm

/.vscode